body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1024px;
  height:1px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:21px;
  width:719px;
  height:40px;
}
#u64_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:725px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:45px;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:103px;
  height:40px;
  font-size:16px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:103px;
  height:40px;
  font-size:16px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:103px;
  height:40px;
  font-size:16px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:0px;
  width:103px;
  height:40px;
  font-size:16px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:0px;
  width:103px;
  height:40px;
  font-size:16px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:0px;
  width:104px;
  height:40px;
  font-size:16px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:183px;
  height:50px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:441px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:71px;
  width:482px;
  height:440px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:341px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:71px;
  width:482px;
  height:340px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:708px;
  width:140px;
  height:40px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:708px;
  width:140px;
  height:40px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:708px;
  width:140px;
  height:40px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
