body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:551px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:80px;
  width:437px;
  height:550px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:267px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:551px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:437px;
  height:550px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:267px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:708px;
  width:140px;
  height:40px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:25px;
  width:177px;
  height:30px;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:183px;
  height:50px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:708px;
  width:140px;
  height:40px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:708px;
  width:140px;
  height:40px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
